USER_DB_URL=jdbc:postgresql://localhost:5432/user_db
USER_DB_USERNAME=your_username
USER_DB_PASSWORD=your_password

ORDER_DB_URL=jdbc:postgresql://localhost:5432/order_db
ORDER_DB_USERNAME=your_username
ORDER_DB_PASSWORD=your_password

HUB_DB_URL=jdbc:postgresql://localhost:5432/hub_db
HUB_DB_USERNAME=your_username
HUB_DB_PASSWORD=your_password

COMPANY_DB_URL=jdbc:postgresql://localhost:5432/company_db
COMPANY_DB_USERNAME=your_username
COMPANY_DB_PASSWORD=your_password

DELIVERY_DB_URL=jdbc:postgresql://localhost:5432/delivery_db
DELIVERY_DB_USERNAME=your_username
DELIVERY_DB_PASSWORD=your_password

OPERATIONS_DB_URL=jdbc:postgresql://localhost:5432/operations_db
OPERATIONS_DB_USERNAME=your_username
OPERATIONS_DB_PASSWORD=your_password

KEYCLOAK_SERVER_URL=http://localhost:8080
KEYCLOAK_CLIENT_SECRET=your_client_secret
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password

GATEWAY_SECRET=your_gateway_secret
