# Database
USER_DB_URL=
USER_DB_USERNAME=
USER_DB_PASSWORD=

ORDER_DB_URL=
ORDER_DB_USERNAME=
ORDER_DB_PASSWORD=

HUB_DB_URL=
HUB_DB_USERNAME=
HUB_DB_PASSWORD=

COMPANY_DB_URL=
COMPANY_DB_USERNAME=
COMPANY_DB_PASSWORD=

DELIVERY_DB_URL=
DELIVERY_DB_USERNAME=
DELIVERY_DB_PASSWORD=

OPERATIONS_DB_URL=
OPERATIONS_DB_USERNAME=
OPERATIONS_DB_PASSWORD=

# Keycloak
KEYCLOAK_SERVER_URL=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_ADMIN_USERNAME=
KEYCLOAK_ADMIN_PASSWORD=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# Gateway
GATEWAY_SECRET=